body{
    background-color: lightgray;
    font-family: Bookman Old Style;
}
h1{
    text-align: center;
    text-decoration: underline;
}

h3{
    text-decoration: underline;
    text-align: center;
    font-weight: dark;
}
hr{
    height: 2px;
    background-color: black;
}

main{
    button{
        background-color:crimson;
        font-weight: darker;
    }
    #div1{
        height: 100px;
        background-color: blue;
        width: 300px;
        border: solid;
        border-width: 5px;
        
    }
    #div2{
        height: 100px;
        background-color: red;
        border: dotted;
        border-width: 5px;
        text-align: center;
        font-weight: dark;
        text-decoration: underline;
    }
    #shorthand{
        border: 3px solid black;
        text-align: center;
        font-weight: bolder;
    }

    /* Border-Radius */
    .br_div{
        border: 3px solid ;
        height: 50px;
        text-align: center;
        font-weight: bold;

        /* Implementation */
        border-radius: 10px;
    }
    #circle{
        height: 100px;
        width: 100px;
        border: 3px solid black;
        text-align: center;
        font-weight: darker;
        font-size: 20px;

        border-radius: 50px;
    }

    /* Padding */
    .p_div{
        border: 3px solid black;
        height: 50px;
        font-weight: bold;

        /* Implementation */
        padding-left: 20px;
        padding-right: 30px;
    }
    .psh_div{
        border: 3px solid black;
        font-weight: bold;

        /* Implimentation */
        padding: 10px 20px 30px 40px;
    }
    .m_div{
        border: 3px solid black;
        font-weight: bolder;
        border-radius: 10px;

        /* Implimentation */
        margin: 10px 20px 30px 40px;
    }
}