*{
    font-family: Bookman Old style;
}
h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
.ie_div1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    border-radius: 10px;
    p{
        font-size: 30px;
        background-color: lightgreen;
    }
}

.dark_mode{
    background-color: black;
    color: white;

}
.light_mode{
    background-color: lightblue;
    color: black;
}